<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_10_Warcraft2Simulator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <_10_Warcraft2Simulator.Settings>
            <setting name="APeasantMaxHitPoints" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="APeasantArmor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APeasantMovementSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PeasantImageSource" serializeAs="String">
                <value>peasant_nowp.png</value>
            </setting>
            <setting name="PeonImageSource" serializeAs="String">
                <value>peon_nowp.png</value>
            </setting>
            <setting name="AWarriorMaxHitPoints" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AWarriorArmor" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AWarriorMovementSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FootmanImageSource" serializeAs="String">
                <value>footman.png</value>
            </setting>
            <setting name="GruntImageSource" serializeAs="String">
                <value>grunt.png</value>
            </setting>
            <setting name="TreeImageSource" serializeAs="String">
                <value>wow2_128.png</value>
            </setting>
            <setting name="GrassImageSource" serializeAs="String">
                <value>wow2_256.png</value>
            </setting>
            <setting name="WaterImageSource" serializeAs="String">
                <value>wow2_301.png</value>
            </setting>
            <setting name="DrawUnit" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="AWarriorDamage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AWarriorRange" serializeAs="String">
                <value>2</value>
            </setting>
        </_10_Warcraft2Simulator.Settings>
    </userSettings>
</configuration>